html{
    margin: 0;
}
body{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-evenly;
    background-color: #bee9e8;
    height: 100px;
    align-items: center;
}

.name{
    margin-right: 690px;
}
